<h1>New game</h1>
<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input name="grid" type="hidden" value="<%= @letters.join(',') %>"/>
  <label for="word-input">What is the longest word you can find?</label>
  <input type="text" name="word" id="word-input">
  <input type="submit" value="Play">
</form>
